<div class="comment">
  <% if comment.author %>
    <span class='votes'>
    <%= link_to "^", vote_comment_path(comment.name, 1) %>
    <%= link_to "o", vote_comment_path(comment.name, 0) %>
    <%= link_to "v", vote_comment_path(comment.name, -1) %>
    </span>
    <span class='comment_score'> (<%= comment.score %>) </span>
    <span class="comment_author"> <b> <%= comment.author %>: </b> </span>
    <p class="comment_body"> <%= comment.body %> </p>
    <ul>
      <%= render partial: "comment", collection: comment.children %>
      <br>
    </ul>
  <% end %>
</div>
